*{
margin:0;
padding:0;
box-sizing:border-box;
}

#dark{
    background-color: #5f2641;
    color: #f4eee0;
}

@media(max-width:800px){
    .footer{
        margin: 0;
        padding: 0;
        margin-top: 30px;
        margin-bottom: 20px;
        width: 1000px;
    }
}


